
#panel1{height:3rem;width:30%;float:left;margin-right:0;margin-top:0;}
#panel2{height:3rem;/*width:12.4rem;*//*float:right;*/margin-left:31.3%;}

#panel3{height:3rem;width:30%;float:left;margin-right:0;margin-top:0;margin-top:0.1rem;}
#panel4{height:3rem;/*width:12.4rem;*//*float:right;*/margin-left:31.3%;}

#panel5{height:3rem;width:30%;float:left;margin-right:0;margin-top:0;margin-top:0.1rem;}
#panel6{height:3rem;/*width:12.4rem;*//*float:right;*/margin-left:31.3%;}

#chart1{width:100%;height:2.58rem;}
#chart2{width:100%;height:2.58rem;}
#chart3{width:100%;height:2.58rem;}
#chart4{width:100%;height:2.58rem;}
#chart5{width:100%;height:2.58rem;}
#chart6{width:100%;height:2.58rem;}


