#panel1{
    width:68%;
    float:left;
    margin-bottom:0.1rem;
    height:3.2rem;
}

#panel2{
    width:29.8%;
    float:right;
    margin-bottom:0.1rem;
    margin-left:0;
    height:3.2rem;
}

#panel3{
    height:3.5rem;
    clear:both;
    float:none;

}